body {
  background-color: #EAF6f6;
}

img:hover {
  background-color: gold;
}

h1 {
  color: #66BFBF;
  font-style: italic;
}

h3 {
  color: #66BFBF;
}


hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 5%;
}
